appdirs==1.4.4
audioread==2.1.9
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
decorator==5.0.9
dtw-python==1.1.10
future==0.18.2
idna==2.10
iso8601==0.1.14
joblib==1.0.1
librosa==0.8.1
llvmlite==0.36.0
numba==0.53.1
numpy==1.21.0
packaging==21.0
pooch==1.4.0
pycparser==2.20
pyparsing==2.4.7
pyserial==3.5
PyYAML==5.4.1
requests==2.25.1
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
urllib3==1.26.6
vosk==0.3.30
pyyaml